{% extends 'template.twig' %}

{% block content %}
    <section id="two">
        <div class="container">
            <h3 style="margin-bottom: 1.65em">Accepted Papers & Posters</h3>
            <h5> Download full proceedings here: <a href="http://bit.ly/DEV2016">http://bit.ly/DEV2016</a> </h5>

            <div class="list-group">
                <div class="list-group-item yetu ">
                    <p class="list-group-item-text">Keynote Speakers</p>
                </div>
                <a class="list-group-item" href="/bitange-ndemo-bio/">
                    <div class="list-group-item-text">
                        <h5>Prof. Bitange Ndemo</h5>
                        {#<div>{{ paper.abstract }}</div>#}
                        <em>
                            Opening Keynote: Leveraging Big Data to Achieve Sustainable Development Goals.
                        </em>
                        <br>
                        <br>

                        <span>
                            Prof. Bitange Ndemo is a former Permanent Secretary of Kenya’s Ministry of Information and Communication.  After his tenure with the Government, Prof. Ndemo now teaches entrepreneurship, and research methods at the University of Nairobi’s Business School.
                         <br> <em>Read More.</em>
                        </span>
                    </div>
                </a>
            </div>

            <div class="list-group">
                <div class="list-group-item yetu ">
                    <p class="list-group-item-text">Accepted Papers</p>
                </div>

                {% for paper in papers %}
                    <a class="list-group-item" href="/papers/{{ loop.index }}/{{ paper.title|replace({' ':'-',':':'-'}) }}">
                        <div class="list-group-item-text">
                            <h5> {{ paper.title }}</h5>
                            {#<div>{{ paper.abstract }}</div>#}
                            <em>
                                {% for author in paper.authors %}
                                    {{ author.first }} {{ author.last }}{% if not loop.last %},{% endif %}
                                {% endfor %}
                            </em>
                        </div>
                    </a>
                {% endfor %}


            </div>

            <div class="list-group-item yetu ">
                <p class="list-group-item-text">Accepted Posters</p>
            </div>
            {% for paper in posters %}
                <a class="list-group-item" href="/posters/{{ loop.index }}/{{ paper.title|replace({' ':'-',':':'-'}) }}">
                    <div class="list-group-item-text">
                        <h5> {{ paper.title }}</h5>
                        {#<div>{{ paper.abstract }}</div>#}
                        <em>
                            {% for author in paper.authors %}
                                {% if author.first is defined %}{{ author.first }}
                                {% endif %}{{ author.last }}{% if not loop.last %},{% endif %}
                            {% endfor %}
                        </em>
                    </div>
                </a>
            {% endfor %}


        </div>
    </section>
{% endblock %}